aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
alembic==1.6.5
async-timeout==3.0.1
attrs==21.2.0
blessings==1.7
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.1
cliff==3.8.0
cloudpickle==1.6.0
Flask==2.0.1
google-api-core==1.31.0
google-auth==1.33.1
googleapis-common-protos==1.53.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
matplotlib==3.4.2
pandas==1.2.5
ray==1.4.1
redis==3.5.3
requests==2.26.0
scikit-learn==0.24.2
scipy==1.7.0
sklearn==0.0
threadpoolctl==2.2.0
xgboost==1.4.2
xgboost-ray==0.1.2
gunicorn